/* Projects Section */
.projects {
    margin: 20px 0px;
    text-align: center;
    padding: 40px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.projects .heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
}

.projects-box {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}



.dark .projects-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 15px rgba(172, 167, 167, 0.675);
}
.light .projects-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 20px rgb(14, 14, 14);
}

.projects-info i {
    font-size: 2rem;
   
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.projects-info h4 {
    font-size: 1.5rem;
  
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.projects-info p {
    font-size: 1rem;
 
    transition: color 0.3s ease;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-project {
    text-decoration: none;

    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
}



/* Dark Mode Styling */


.dark .projects-box {
    
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.1);
}

.dark .projects-info i {
    color: #ffa500;
}

.dark .projects-info h4,
.dark .projects-info p {
    color: white;
}

.dark .btn-project {
    background: #ffa500;
}

.dark .btn-project:hover {
    background: #e68a00;
}

/* Light Mode Styling */


.light .projects-box {
    
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.559);
}

.light .projects-info i {
    color: #ffa500;
}

.light .projects-info h4,
.light .projects-info p {
    color: #181818;
}

.light .btn-project {
    background: #ffa500;
}

.light .btn-project:hover {
    background: #e68a00;
}
