/* General Resume Container Styling */
.resume-container {
    font-family: Arial, sans-serif;
    margin: 90px auto auto auto;
    max-width: 800px;
    padding: 50px;
    background: transparent;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.dark .resume-container {
    box-shadow: 0px 0px 20px 5px  rgba(240, 234, 234, 0.308);
}
.light .resume-container {
    box-shadow: 0px 0px 20px 5px  rgba(10, 10, 10, 0.819);
}

/* Header Styling */
.resume-header {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.resume-header h1 {
    font-size: 2.5em;
    transition: color 0.3s ease;
}

.resume-header p {
    font-size: 1.2em;
    transition: color 0.3s ease;
}

/* Contact Section */
.contact p {
    margin: 5px 0;
    transition: color 0.3s ease;
}

.contact a {
    
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact a:hover {
    text-decoration: underline;
}

/* Section Titles */
section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    padding-left: 10px;
    transition: color 0.3s ease;
}

/* List Styling */
ul {
    list-style-type: square;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

/* Dark Mode Specific Styling */
.dark .resume-container {
    
    color: white;
}

.dark .resume-header h1,
.dark section h2 {
    color: white;
}

.dark .resume-header p,
.dark .contact p,
.dark ul li {
    color: rgba(255, 255, 255, 0.8);
}

.dark .contact a {
    color: #ffa500;
}

/* Light Mode Specific Styling */
.light .resume-container {
    
    color: black;
}

.light .resume-header h1,
.light section h2 {
    color: black;
}

.light .resume-header p,
.light .contact p,
.light ul li {
    color: black;
}

.light .contact a {
    color: #f0eeea;
}
