/* General Resume Container Styling */
.resume-container {
    font-family: Arial, sans-serif;
    margin: 50px auto auto auto;
    max-width: 800px;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Header Styling */
.resume-header {
    text-align: center;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.resume-header h1 {
    font-size: 2.5em;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.resume-header p {
    font-size: 1.2em;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

/* Contact Section */
.contact p {
    margin: 5px 0;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.contact a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact a:hover {
    text-decoration: underline;
}

/* Section Titles */
section h2 {
    font-size: 1.8em;
    color: var(--primary-color);
    margin-bottom: 10px;
    border-left: 4px solid var(--accent-color);
    padding-left: 10px;
    transition: color 0.3s ease;
}

/* List Styling */
ul {
    list-style-type: square;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

/* Dark Mode Specific Styling */
.dark .resume-container {
    
    color: white;
}

.dark .resume-header h1,
.dark section h2 {
    color: white;
}

.dark .resume-header p,
.dark .contact p,
.dark ul li {
    color: rgba(255, 255, 255, 0.8);
}

.dark .contact a {
    color: #ffa500;
}

/* Light Mode Specific Styling */
.light .resume-container {
    
    color: black;
}

.light .resume-header h1,
.light section h2 {
    color: #333;
}

.light .resume-header p,
.light .contact p,
.light ul li {
    color: #555;
}

.light .contact a {
    color: #ffa500;
}
